<div fxLayout="column" fxFlex="100%">
    <h1 class="center my-20">
        FAQ
    </h1>
    <h3 class="mx-10">
        <b>Q: เว็บไซต์นี้จัดทำเกี่ยวกับอะไร ?</b><br>
        A: ทางเราทำเว็บไซต์เพื่อเป็นสื่อข้อมูลเกี่ยวกับการเชื่อมต่อ Payment Gateway สำหรับผู้ที่มีความสนใจในเรื่องการเชื่อมต่อระบบเข้ากับธนาคาร และยังเป็นเว็บไซต์นำเสนอ Profolio ของผู้จัดทำด้วย.
    </h3><br>
    <h3 class="mx-10">
        <b>Q: อนาคตรูปแบบเว็บไซต์จะไปในทิศทางไหน ?</b><br>
        A: ขึ้นอยู่กับว่าทางผู้จัดทำสนใจเกี่ยวกับอะไร อาจจะเป็นทำเกี่ยวกับบทความ เว็บบอร์ดสนทนา หรือยังเป็นรูปแบบเดิมคือเกี่ยวกับ Payment Gateway.
    </h3><br>
    <h3 class="mx-10">
        <b>Q: ในการทำเว็บไซต์มีผู้จัดทำกี่คน ?</b><br>
        A: ปัจจุบันก็มีแค่คนเดียวครับ อนาคตคาดการณ์ว่าจะหาคนมาร่วมทำจนเป็นทีมที่พร้อมจะเริ่มธุรกิจ Software House ในไทยได้.
    </h3>
</div>