<div fxLayout="column" fxFlex="100%">
    <h1 class="center my-20">
        เงื่อนไขการใช้บริการ
    </h1>
    <h3 class="mx-10">
        1. ทางเราไม่มีนโยบายในการช่วยเหลือผู้ว่าจ้าง หรือลูกค้าในการช่วยขอระบบจากธนาคาร ผู้ว่าจ้างหรือลูกค้าต้องจัดหาให้ทางเราก่อนจึงจะเริ่มเชื่อมต่อระบบธนาคารเข้ากับระบบของผู้ว่าจ้าง หรือลูกค้า
    </h3>
    <h3 class="mx-10">
        2. ทางเราไม่มีนโยบายเชื่อมต่อระบบที่เกี่ยวข้องกับ สื่อลามก, สารเสพติด, การพนัน และ แพลตฟอร์มใดๆ ที่ไม่เป็นที่ยอมรับในประเทศไทย
    </h3>
    <h3 class="mx-10">
        3. ทางเราไม่มีนโยบายในการทำงานส่วนอื่น หรือช่วยเหลือทำระบบที่ทางลูกค้าพบปัญหาขอบเขตของการทำงานของเราคือเชื่อมระบบทางด้านการเงินจากธนาคารเข้ากับลูกค้า
    </h3>
    <h3 class="mx-10">
        4. ทางเราให้ความสำคัญต่อข้อมูลลูกค้ามาก หากทางผู้ว่าจ้าง หรือลูกค้าควรระบบแยกออกจากระบบจริงเพื่อให้ไม่ให้ข้อมูลของลูกค้าหลุดหรือสูญหาย
    </h3>
    <h3 class="mx-10">
        5. จากข้อที่ 2 หากทางเราตรวจสอบและพบว่าเข้าค่ายของธุรกิจดังกล่าวทางเราข้อยกเลิกการทำงานด้านการเงินทุกกรณี
    </h3>
</div>