

<div *ngIf="!_isReady" class="my-20" fxLayout="column" fxFlex="100%">
    <div class="center" fxLayout="column">
        <h1>พบกันเร็วๆ นี้ 28 / ธ.ค. / 2564 . . .</h1>
    </div>
</div>
<div *ngIf="_isReady" class="my-20" fxLayout="column" fxFlex="100%">
    <div fxLayout="row" fxFlex="100%">
        <div class="center" fxLayout="column" fxFlex="33.3%">
            <mat-card class="w160">
                <mat-card-title>฿0</mat-card-title>
                <mat-card-subtitle>Free</mat-card-subtitle>
                <mat-card-content class="left">
                    Document Knowledge : ✓ <br>
                    Video Knowledge : ✓ <br>
                    Files Example : ✓ <br>
                    Exclusive Course : x <br>
                    Remote Integration : x <br>
                    On Site Integration : x <br>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="center" fxLayout="column" fxFlex="33.3%">
            <mat-card class="w160">
                <mat-card-title>฿1,500</mat-card-title>
                <mat-card-subtitle>Normal Pricing</mat-card-subtitle>
                <mat-card-content class="left">
                    Document Knowledge : ✓ <br>
                    Video Knowledge : ✓ <br>
                    Files Example : ✓ <br>
                    Exclusive Course : ✓ <br>
                    Remote Integration : x <br>
                    On Site Integration : x <br>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="center" fxLayout="column" fxFlex="33.3%">
            <mat-card class="w160">
                <mat-card-title>฿5,000</mat-card-title>
                <mat-card-subtitle>Advanced Pricing</mat-card-subtitle>
                <mat-card-content class="left">
                    Document Knowledge : ✓ <br>
                    Video Knowledge : ✓ <br>
                    Files Example : ✓ <br>
                    Exclusive Course : ✓ <br>
                    Remote Integration : ✓ <br>
                    On Site Integration : ✓ <br>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxLayout="column" fxFlex="100%">
        <h1 class="center my-20">
            ติดต่อสอบถามรายละเอียดเพิ่มเติมได้ที่
        </h1>
    
        <h3 class="mx-10">
            เบอร์โทรศัพท์ : +66-82-3577246 (คุณนัน)
        </h3>
    
        <h3 class="mx-10">
            อีเมล: <a href="mailto:anan.saas.cs3@gmail.com">anan.saas.cs3@gmail.com</a>
        </h3>
    
        <h3 class="mx-10">
            Facebook: <a href="https://www.facebook.com/YaJokProgrammer">https://www.facebook.com/YaJokProgrammer</a>
        </h3>
    
        <h3 class="mx-10">
            Discord: <a href="https://discord.gg/skHfuF4t">https://discord.gg/skHfuF4t</a>
        </h3>
    </div>
</div>