.example-spacer {
  flex: 1 1 auto;
}

.color1 {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 70%, #524f4f 25%);
}

a {
  color: #fff;
  text-decoration: none;
}

.mat-toolbar.mat-primary {
  background-color: #2d3436 !important;
  color: #b3a8ac !important;
}

button.menu {
  color: #b3a8ac !important;
  background-color: #524f4f !important;
  border-color: #524f4f !important;
  border-width: 0.1px !important;
  border-style: none !important;
}

button.social {
  color: #b3a8ac !important;
  background-color: #2d3436 !important;
  border-color: #2d3436 !important;
  border-width: 0.1px !important;
  border-style: none !important;
}

div.menulist {
  animation: lefttoright ease 0.5s;
  -webkit-animation: lefttoright ease 0.5s;
  -moz-animation: lefttoright ease 0.5s;
  -o-animation: lefttoright ease 0.5s;
  -ms-animation: lefttoright ease 0.5s;
}

.mx-10 {
  margin: 0px 10px 0px 10px;
}

.my-10 {
  margin: 10px 0px 10px 0px;
}

// Start Left To Right
@keyframes lefttoright {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

@-moz-keyframes lefttoright {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

@-webkit-keyframes lefttoright {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

@-o-keyframes lefttoright {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

@-ms-keyframes lefttoright {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

// End
