    <mat-toolbar color="primary" class="color1">
      <mat-toolbar-row >
        <mat-toolbar-row>
          <button mat-icon-button (click)="togglesidenav(_Isshow)" class="menu" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="menulist" *ngIf="_Isshow !== false">
            <a [routerLink]="['']" routerLinkActive="router-link-active" ><mat-icon>home</mat-icon> Home </a>
            <a  [routerLink]="['/pricing']"><mat-icon>monetization_on</mat-icon> Pricing </a>
            <a [routerLink]="['/termofus']"><mat-icon>account_balance</mat-icon> Terms of us </a>
            <a [routerLink]="['/faq']"><mat-icon>contact_support</mat-icon> FAQ </a>
            <a [routerLink]="['/profoilio']"><mat-icon>person_pin_circle</mat-icon> Profoilio </a>
            <!-- <a mat-button [routerLink]="'/'"> <mat-icon>search</mat-icon> Others </a> -->
          </div>
            <span class="mx-10"><a class="color2" href="https://www.youtube.com/channel/UCYi3xArJr6Hn6GiiUfFbNtg">@iPolyPro</a></span>
        </mat-toolbar-row>
        <span class="example-spacer"></span>
        <button (click)="GoToWebsite(1)" mat-icon-button class="button.social" aria-label="Facebook">
          <mat-icon>facebook</mat-icon>
        </button>
        <button (click)="GoToWebsite(2)" mat-icon-button class="button.social" aria-label="Youtube">
          <mat-icon>tv</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>


