    <mat-toolbar color="primary" class="color1">
      <mat-toolbar-row >
        <mat-toolbar-row>
          <button mat-icon-button (click)="togglesidenav(_Isshow)" class="menu" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="menulist" *ngIf="_Isshow !== false">
            <a mat-button [routerLink]="'/'"> <mat-icon>home</mat-icon> Home </a>
            <a mat-button [routerLink]="'/'"> <mat-icon>monetization_on</mat-icon> Pricing </a>
            <a mat-button [routerLink]="'/'"> <mat-icon>person</mat-icon> About us </a>
            <a mat-button [routerLink]="'/'"> <mat-icon>contact_support</mat-icon> Contact us </a>
            <a mat-button [routerLink]="'/'"> <mat-icon>person_pin_circle</mat-icon> Profoilio </a>
            <!-- <a mat-button [routerLink]="'/'"> <mat-icon>search</mat-icon> Others </a> -->
          </div>
            <span>@iPolyPro</span>
        </mat-toolbar-row>
        <span class="example-spacer"></span>
        <button mat-icon-button class="button.social" aria-label="Example icon-button with heart icon">
          <mat-icon>thumb_up</mat-icon>
        </button>
        <span>Facebook</span>
        <button mat-icon-button class="button.social" aria-label="Example icon-button with share icon">
          <mat-icon>tv</mat-icon>
        </button>
        <span>Youtube</span>
      </mat-toolbar-row>
    </mat-toolbar>
  <div class="container">
  
  </div>


