    <mat-toolbar color="primary" class="color1">
      <mat-toolbar-row >
        <mat-toolbar-row>
          <button mat-icon-button (click)="togglesidenav(_Isshow)" class="menu" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="menulist" *ngIf="_Isshow !== false">
            <a mat-button (click)="GoToWebsite(0)"> <mat-icon>home</mat-icon> Home </a>
            <a mat-button (click)="GoToWebsite(3)"> <mat-icon>monetization_on</mat-icon> Pricing </a>
            <a mat-button (click)="GoToWebsite(4)"> <mat-icon>person</mat-icon> About us </a>
            <a mat-button (click)="GoToWebsite(5)"> <mat-icon>contact_support</mat-icon> Contact us </a>
            <a mat-button (click)="GoToWebsite(6)"> <mat-icon>person_pin_circle</mat-icon> Profoilio </a>
            <!-- <a mat-button [routerLink]="'/'"> <mat-icon>search</mat-icon> Others </a> -->
          </div>
            <span>@iPolyPro</span>
        </mat-toolbar-row>
        <span class="example-spacer"></span>
        <button (click)="GoToWebsite(1)" mat-icon-button class="button.social" aria-label="Facebook">
          <mat-icon>facebook</mat-icon>
        </button>
        <button (click)="GoToWebsite(2)" mat-icon-button class="button.social" aria-label="Youtube">
          <mat-icon>tv</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  <div class="container">
    <app-home *ngIf="_IsState === 0" ></app-home>
  </div>


