
<div class="my-20" fxLayout="column" fxFlex="100%">
    <div fxLayout="row" fxFlex="100%">
        <div class="center" fxLayout="column" fxFlex="100%">
            <mat-card class="w300">
                <img class="rounded" src="./assets/img/anan.png">
                <mat-card-title class="my-20"><a class="white" href="https://www.linkedin.com/in/anan-panichakarn-5b3674200/">Anan Panichakarn</a></mat-card-title>
                <mat-card-subtitle><u>Founder</u></mat-card-subtitle>
                <mat-card-content class="left">
                    โรงเรียนอนุบาลนครปฐม<br>
                    (Anuban Nakhon Pathom School)<br>
                    โรงเรียนพระปฐมวิทยาลัย<br>
                    (Phrapathom Witthayalai School)<br>
                    วิทยาลัยเทคนิคนครปฐม<br>
                    (Nakhonpathom Technical College)<br>
                    มหาวิทยาลัยเทคโนโลยีรัตนโกสินทร์ศาลายา<br>
                    (RMUTR)

                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxLayout="column" fxFlex="100%">
        <h4 class="my-20">
            ติดต่อสอบถามรายละเอียดเพิ่มเติมได้ที่
        </h4>
    
        <h5 class="mx-10">
            เบอร์โทรศัพท์ : +66-82-3577246 (คุณนัน)
        </h5>
    
        <h5 class="mx-10">
            อีเมล: <a href="mailto:anan.saas.cs3@gmail.com">anan.saas.cs3@gmail.com</a>
        </h5>
    
        <h5 class="mx-10">
            Facebook: <a href="https://www.facebook.com/YaJokProgrammer">https://www.facebook.com/YaJokProgrammer</a>
        </h5>
    
        <h5 class="mx-10">
            Discord: <a href="https://discord.gg/skHfuF4t">https://discord.gg/skHfuF4t</a>
        </h5>
    </div>
</div>